<nav
  class="navbar navbar-expand-lg navbar-light bg-light fixed-top ps-5 pe-5 shadow-sm"
>
  <div class="container-fluid">
    <img src="/images/logo.png" alt="Ahadu Center" class="logo" />
    <div class="line ms-5 d-none d-lg-block"></div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-5" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" routerLink="/contactUs">Contact Us</a>
        </li>
        <li class="nav-item dropdown ps-3 hover-dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Our Service
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="/movies">Movies</a></li>
            <li><a class="dropdown-item" routerLink="/books">Books</a></li>
            <li>
              <a class="dropdown-item" routerLink="/computers">Computers</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Cart link with badge showing item count -->
      <a class="btn btn-primary position-relative" routerLink="/carts">
        <i class="bi bi-cart"></i> Cart
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{ cartCount }}
          <span class="visually-hidden">items in cart</span>
        </span>
      </a>
    </div>
  </div>
</nav>
<!-- Spacer to prevent content from being hidden behind fixed navbar -->
<div class="navbar-spacer" style="height: 70px"></div>
